.ComparingUniv_Container {
  width: 100%;
  height: 100%;
  background-color: #fff;

  display: flex;
  flex-direction: row;
  justify-self: center;
}

.ComparingUniv_GraphZone {
  width: 80%;
  height: 80%;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.ComparingUniv_GraphTitle {

  height: 13%;
  text-align: center;
  font-size: 20px;
}

.UnivInfo_List {
  width: 80%;

  line-height: 1.3em;

  margin-bottom: 20px;
}