.UnivInfo_Container {
  width: 100%;
  height: 100%;
  background-color: rgb(72, 97, 97);;
  color: whitesmoke;
  font-size: x-large;
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
}